@{

    ViewBag.Title = "Report By Department";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | Logic University Stationary Store Inventory System</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="../../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="../../plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="../../plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="../../css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../css/themes/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-blue">
    @Html.Partial("_NavBar")
    <section class="content">
        <div class="container-fluid">
            <h1>Orders By Department</h1><br />
            <div class="body table-responsive">
                <form action="./ViewReport" method="post">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th><h4>Department</h4></th>
                            </tr>
                            <tr>
                                <td>
                                    <input name="department" type="checkbox" id="md_checkbox_26" class="filled-in chk-col-blue" value="ACC" />
                                    <label for="md_checkbox_26">Accounting Dept</label>
                                </td>

                                <td>
                                    <input name="department" type="checkbox" id="md_checkbox_27" class="filled-in chk-col-blue" value="BIOSCI" />
                                    <label for="md_checkbox_27">Biological Sciences Dept</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="department" type="checkbox" id="md_checkbox_28" class="filled-in chk-col-blue" value="COMM" />
                                    <label for="md_checkbox_28">Commerce Dept</label>
                                </td>

                                <td>
                                    <input name="department" type="checkbox" id="md_checkbox_29" class="filled-in chk-col-blue" value="CPSC" />
                                    <label for="md_checkbox_29">Computer Science</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="department" type="checkbox" id="md_checkbox_30" class="filled-in chk-col-blue" value="ENGL" />
                                    <label for="md_checkbox_30">English Dept</label>
                                </td>

                                <td>
                                    <input name="department" type="checkbox" id="remember_me_5" class="filled-in chk-col-blue" value="GEO">
                                    <label for="remember_me_5">Geography Dept</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="department" type="checkbox" id="remember_me_4" class="filled-in chk-col-blue" value="LAW">
                                    <label for="remember_me_4">Law Dept</label>
                                </td>

                                <td>
                                    <input name="department" type="checkbox" id="remember_me_3" class="filled-in chk-col-blue" value="MATH">
                                    <label for="remember_me_3">Mathematics Dept</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="department" type="checkbox" id="ig_checkbox" class="filled-in chk-col-blue" value="REGR">
                                    <label for="ig_checkbox">Registrar Dept</label>
                                </td>

                                <td>
                                    <input name="department" type="checkbox" id="checkbox" class="filled-in chk-col-blue" value="STORE">
                                    <label for="checkbox">Store Dept</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="department" type="checkbox" id="md_checkbox_41" class="filled-in chk-col-blue" value="ZOOL">
                                    <label for="md_checkbox_41">Zoology Dept</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">

                        <tbody>

                            <tr>
                                <th><h4>Category</h4></th>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_21" class="filled-in chk-col-blue" value="1" />
                                    <label for="md_checkbox_21">Clip</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_22" class="filled-in chk-col-blue" value="2" />
                                    <label for="md_checkbox_22">Envelope</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_23" class="filled-in chk-col-blue" value="3" />
                                    <label for="md_checkbox_23">Eraser</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_24" class="filled-in chk-col-blue" value="4" />
                                    <label for="md_checkbox_24">Exercise</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_25" class="filled-in chk-col-blue" value="5" />
                                    <label for="md_checkbox_25">File</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_47" class="filled-in chk-col-blue" value="6" />
                                    <label for="md_checkbox_47">Pen</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_48" class="filled-in chk-col-blue" value="7" />
                                    <label for="md_checkbox_48">Puncher</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_49" class="filled-in chk-col-blue" value="8" />
                                    <label for="md_checkbox_49">Pad</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_50" class="filled-in chk-col-blue" value="9" />
                                    <label for="md_checkbox_50">Paper</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_51" class="filled-in chk-col-blue" value="10" />
                                    <label for="md_checkbox_51">Ruler</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_52" class="filled-in chk-col-blue" value="11" />
                                    <label for="md_checkbox_52">Scissors</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_53" class="filled-in chk-col-blue" value="12" />
                                    <label for="md_checkbox_53">Tape</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_54" class="filled-in chk-col-blue" value="13" />
                                    <label for="md_checkbox_54">Sharpener</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_55" class="filled-in chk-col-blue" value="14" />
                                    <label for="md_checkbox_55">Shorthand</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_56" class="filled-in chk-col-blue" value="15" />
                                    <label for="md_checkbox_56">Stapler</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_57" class="filled-in chk-col-blue" value="16" />
                                    <label for="md_checkbox_57">Tacks</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_58" class="filled-in chk-col-blue" value="17" />
                                    <label for="md_checkbox_58">Tparency</label>
                                </td>

                                <td>
                                    <input name="category" type="checkbox" id="md_checkbox_59" class="filled-in chk-col-blue" value="18" />
                                    <label for="md_checkbox_59">Tray</label>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table">
                        <tr>
                            <td><h4>Year</h4></td>
                        </tr>
                        <tr>
                            <td>
                                <input name="year" type="checkbox" id="md_checkbox_43" class="filled-in chk-col-blue" value="2016" />
                                <label for="md_checkbox_43">2016</label>
                            </td>

                            <td>
                                <input name="year" type="checkbox" id="md_checkbox_44" class="filled-in chk-col-blue" value="2017" />
                                <label for="md_checkbox_44">2017</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input name="year" type="checkbox" id="md_checkbox_45" class="filled-in chk-col-blue" value="2018" />
                                <label for="md_checkbox_45">2018</label>
                            </td>
                        </tr>
                    </table>

                    <table class="table">
                        <tbody>
                            <tr>
                                <th><h4>Month</h4></th>
                            </tr>
                            <tr>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_31" class="filled-in chk-col-blue" value="01" />
                                    <label for="md_checkbox_31">January</label>
                                </td>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_32" class="filled-in chk-col-blue" value="02" />
                                    <label for="md_checkbox_32">February</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_33" class="filled-in chk-col-blue" value="03" />
                                    <label for="md_checkbox_33">March</label>
                                </td>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_34" class="filled-in chk-col-blue" value="04" />
                                    <label for="md_checkbox_34">April</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_35" class="filled-in chk-col-blue" value="05" />
                                    <label for="md_checkbox_35">May</label>
                                </td>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_36" class="filled-in chk-col-blue" value="06" />
                                    <label for="md_checkbox_36">June</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_37" class="filled-in chk-col-blue" value="07" />
                                    <label for="md_checkbox_37">July</label>
                                </td>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_38" class="filled-in chk-col-blue" value="08" />
                                    <label for="md_checkbox_38">August</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_39" class="filled-in chk-col-blue" value="09" />
                                    <label for="md_checkbox_39">September</label>
                                </td>
                                <td>
                                    <input name="month" type="checkbox" id="md_checkbox_40" class="filled-in chk-col-blue" value="10" />
                                    <label for="md_checkbox_40">October</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input name="month" type="checkbox" id="remember_me" class="filled-in chk-col-blue" value="11">
                                    <label for="remember_me">November</label>
                                </td>
                                <td>
                                    <input name="month" type="checkbox" id="remember_me_2" class="filled-in chk-col-blue" value="12">
                                    <label for="remember_me_2">December</label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><button type="submit" class="btn btn-primary m-t-15 waves-effect">Generate</button></td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
            </div>

            <!-- #END# Basic Examples -->
        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>
    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>
</body>
</html>